{
    ## for certification generation
    email example@example.com
}

localhost {
    reverse_proxy goblin:3000
}

# example sub domain to host static sites
# sites from sites/personal
personal.localhost {
    root * /sites/personal
    file_server
}
